.filterContainer {
  display: flex;
  column-gap: $space-4;
  row-gap: $space-2;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  label {
    display: flex;
    gap: $space-3;
    align-items: center;
  }
}
.error {
  color: red;
  font-size: 1.2rem;
}
