@use "./mixins";
* {
  transition: color 0.3s ease, background-color 0.3s ease;
}
body {
  color-scheme: dark light;
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  transition: color 0.3s ease, background-color 0.3s ease;
}
#root {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  @include mixins.screen-md {
    grid-template-rows: 1fr auto;
  }
}
h1 {
  font-size: 3.2rem;
  font-weight: bold;
  @include mixins.screen-lg {
    font-size: 4.4rem;
  }
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  @include mixins.screen-lg {
    font-size: 3.2rem;
  }
}
h3 {
  font-size: 1.6rem;
  font-weight: 600;
  @include mixins.screen-lg {
    font-size: 1.8rem;
  }
}
main {
  padding-block: calc(var(--space) * 6);
  padding-inline: calc(var(--space) * 4);
  transition: padding 0.2s ease-in-out;
  @include mixins.screen-md {
    padding-inline-start: calc(var(--space) * 4 + 28rem);
    &.minimize {
      padding-inline-start: calc(var(--space) * 4 + 9.1rem);
    }
  }
  @include mixins.screen-lg {
    padding-block: calc(var(--space) * 8);
    padding-inline: calc(var(--space) * 10);
    padding-inline-start: calc(var(--space) * 10 + 28rem);
    &.minimize {
      padding-inline-start: calc(var(--space) * 10 + 9.1rem);
    }
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}
