body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  transition: color 0.3s ease, background-color 0.3s ease;
}
#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
