@mixin screen-md {
  @media (min-width: 48rem) {
    @content;
  }
}
@mixin screen-lg {
  @media (min-width: 64rem) {
    @content;
  }
}
@mixin screen-xl {
  @media (min-width: 80rem) {
    @content;
  }
}
