*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

button,
input,
select {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
  border-radius: 0;
}
button,
input:where([type="button"], [type="reset"], [type="submit"]) {
  appearance: button;
}
ul,
ol {
  list-style: none;
}
img,
svg {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
:-moz-focusring {
  outline: auto;
}
