:root {
  --bg-color: hsl(var(--violet-50));
  --text-color-primary: hsl(var(--violet-850));
  --text-color-secondary: hsl(var(--violet-600));
  --border-color: hsl(var(--neutral-200));
  --card-color: hsl(var(--neutral-00));
  /* category color */
  --temp-navLink: hsl(var(--orange-600));
  --co2-navLink: hsl(var(--mint-600));
  --ch4-navLink: hsl(var(--pink-600));
  --n2o-navLink: hsl(var(--green-600));
  --pi-navLink: hsl(var(--blue-600));
  --temp-navLink-hover: hsl(var(--orange-700));
  --co2-navLink-hover: hsl(var(--mint-700));
  --ch4-navLink-hover: hsl(var(--pink-700));
  --n2o-navLink-hover: hsl(var(--green-700));
  --pi-navLink-hover: hsl(var(--blue-700));
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: hsl(var(--violet-900));
    --text-color-primary: hsl(var(--violet-50));
    --text-color-secondary: hsl(var(--violet-350));
    --border-color: hsl(var(--violet-750));
    --card-color: hsl(var(--violet-800));
    /* category color */
    --temp-navLink: hsl(var(--orange-500));
    --co2-navLink: hsl(var(--mint-400));
    --ch4-navLink: hsl(var(--pink-400));
    --n2o-navLink: hsl(var(--green-400));
    --pi-navLink: hsl(var(--blue-400));
    --temp-navLink-hover: hsl(var(--orange-200));
    --co2-navLink-hover: hsl(var(--mint-200));
    --ch4-navLink-hover: hsl(var(--pink-200));
    --n2o-navLink-hover: hsl(var(--green-200));
    --pi-navLink-hover: hsl(var(--blue-200));
  }
}
[data-theme="light"] {
  color-scheme: light;
  --bg-color: hsl(var(--violet-50));
  --text-color-primary: hsl(var(--violet-850));
  --text-color-secondary: hsl(var(--violet-600));
  --border-color: hsl(var(--neutral-200));
  --card-color: hsl(var(--neutral-00));
  /* category color */
  --temp-navLink: hsl(var(--orange-600));
  --co2-navLink: hsl(var(--mint-600));
  --ch4-navLink: hsl(var(--pink-600));
  --n2o-navLink: hsl(var(--green-600));
  --pi-navLink: hsl(var(--blue-600));
  --temp-navLink-hover: hsl(var(--orange-700));
  --co2-navLink-hover: hsl(var(--mint-700));
  --ch4-navLink-hover: hsl(var(--pink-700));
  --n2o-navLink-hover: hsl(var(--green-700));
  --pi-navLink-hover: hsl(var(--blue-700));
}
[data-theme="dark"] {
  color-scheme: dark;
  --bg-color: hsl(var(--violet-900));
  --text-color-primary: hsl(var(--violet-50));
  --text-color-secondary: hsl(var(--violet-350));
  --border-color: hsl(var(--violet-750));
  --card-color: hsl(var(--violet-800));
  /* category color */
  --temp-navLink: hsl(var(--orange-500));
  --co2-navLink: hsl(var(--mint-400));
  --ch4-navLink: hsl(var(--pink-400));
  --n2o-navLink: hsl(var(--green-400));
  --pi-navLink: hsl(var(--blue-400));
  --temp-navLink-hover: hsl(var(--orange-200));
  --co2-navLink-hover: hsl(var(--mint-200));
  --ch4-navLink-hover: hsl(var(--pink-200));
  --n2o-navLink-hover: hsl(var(--green-200));
  --pi-navLink-hover: hsl(var(--blue-200));
}
