.button {
  display: flex;
  flex-direction: column;
  width: calc(var(--space) * 12);
  height: calc(var(--space) * 12);
  border-radius: calc(var(--space) * 2);
  justify-content: space-between;
  padding: 1.1rem;
  cursor: pointer;
  @include screen-md {
    display: none;
  }
  span {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.2s ease 0.1s;
    height: 0.3rem;
    background-color: var(--text-color-primary);
    border-radius: 0.2rem;
    transform-origin: center;
  }
  &:hover {
    background-color: var(--text-color-primary);
    span {
      background-color: var(--bg-color);
    }
  }
  &:focus-visible {
    outline: 0.2rem solid var(--text-color-primary);
    outline-offset: 0.3rem;
  }
}
.button.open {
  span:nth-child(1) {
    transform: translateY(1.15rem) rotate(45deg);
  }
  span:nth-child(2) {
    opacity: 0;
  }
  span:nth-child(3) {
    transform: translateY(-1.15rem) rotate(-45deg);
  }
}
