.card {
  border-radius: $space-3;
  color: var(--text-color-primary);
  padding-inline: $space-4;
  padding-block: $space-5;
  background-color: var(--card-color);
  //fix for overflow issue with sparkline
  min-width: 0;
}
.error {
  color: red;
  font-weight: 600;
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  margin-top: $space-3;
  background-image: linear-gradient(
    to bottom right,
    var(--bg-color),
    transparent 70%
  );
  border-radius: $space-2;
  animation: move 1.5s linear infinite;
  margin-block-start: $space-6;
}
