.card {
  border-radius: 1.2rem;
  color: var(--text-color-primary);
  padding-inline: $space-4;
  padding-block: $space-5;
  background-color: var(--card-color);
  //fix for overflow issue with sparkline
  min-width: 0;
}
