.switchGroup {
  display: flex;
  align-items: center;
  border: 0.1rem solid (var(--text-color-primary));
  border-radius: $space-3;
  color: var(--text-color-primary);
  overflow: hidden;
  margin-block-start: auto;
  min-height: $space-11;
  button {
    flex: 1;
    min-width: $space-12;
    min-height: $space-11;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    &:hover:not([aria-pressed="true"]) {
      background-color: var(--text-color-secondary);
      color: (var(--bg-color));
    }
  }
  button:nth-child(2) {
    border-left: 0.1rem solid (var(--text-color-primary));
    border-right: 0.1rem solid (var(--text-color-primary));
  }
  [aria-pressed="true"] {
    background-color: var(--text-color-primary);
    color: (var(--bg-color));
  }
  @include screen-md {
    &.minimized {
      flex-direction: column;
      max-width: fit-content;
      button {
        min-height: $space-12;
      }
      button:nth-child(2) {
        border-top: 0.1rem solid (var(--text-color-primary));
        border-bottom: 0.1rem solid (var(--text-color-primary));
        border-right: none;
        border-left: none;
        min-height: $space-12;
        min-width: $space-12;
      }
    }
  }
}
